.footer {
  position: fixed;
  bottom: 0;
  height: 260px;
  width: 100%;
  z-index: 0;
  padding: 40px 0;
  background-color: #2e3131;
  text-align: center;
  color: white;
}

.footer h6 {
  text-transform: uppercase;
  margin-top: 12px;
  margin-bottom: 6px;
}

.paragraph {
  line-height: 1.6rem;
}

.footer__copyright {
  background-color: #161818;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);

  color: white;
  font-size: 0.6rem;
  text-transform: uppercase;
  padding: 12px 0;
}

.footer__logo {
  vertical-align: middle;
  padding: 0 24px;
}

@media only screen and (max-width: 800px) {
  .footer p {
    font-size: 0.7rem;
    line-height: 1rem;
  }

  .footer__logo,
  .logo--link {
    transform: scale(0.7);
    padding: 0;
  }
}
